@use "sass:map";
@use "/src/variables" as *;

$bannerHeight: 4px;
$dropdownItemHeight: 60px;

header {
  height: calc($dropdownItemHeight + $bannerHeight + 16px);
  max-width: 1300px;
  width: 100%;
  display: block;
  position: sticky;
  top: 0;
  background-color: map.get($colors, "def_bg");
  z-index: 10;
  div {
    width: 100%;
  }

  .banner {
    height: $bannerHeight;
    border-top: 14px solid map.get($colors, "def_red");
    border-bottom: 1px solid map.get($colors, "def_black");
    background-color: map.get($colors, "def_white");
  }

  .text {
    text-align: center;
    line-height: $dropdownItemHeight;
  }

  .logo {
    height: 100%;
    padding-right: 1rem;
    display: flex;
    flex-direction: row-reverse;
    img {
      height: 100%;
    }
  }

  .bar {
    height: $dropdownItemHeight;
    border-bottom: 1px solid map.get($colors, "def_bg");

    display: flex;
    flex-direction: row;

    font-weight: 400;

    background-color: map.get($colors, "def_white");
  }

  @media only screen and (max-width: 500px) {
    div {
      width: auto;
    }
    .logo {
      display: none;
    }
    .text {
      width: 100%;
    }
    .languageSelector {
      justify-content: center;
      padding-right: 0;
    }
  }
}
